Acquire (`acquire.py`)

# Zillow

For the following, iterate through the steps you would take to create functions: 
- Write the code to do the following in a jupyter notebook,
- test it, 
- convert to functions, 
- then create the file to house those functions.

You will have a `zillow.ipynb` file and a *helper file* **for each section** in the pipeline.

In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from scipy import stats

#functions
import acquire as acq
import wrangle_zillow as wz



warnings.filterwarnings("ignore")

#evaluate
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.feature_selection import f_regression 
from statsmodels.formula.api import ols
import sklearn.preprocessing

#feature engineering
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# modeling methods
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

### acquire & summarize

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for `airconditioningtypeid`.
- Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

In [2]:
df = acq.zillow17()

In [4]:
df = df.set_index("parcelid")

In [5]:
df.head()

,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,buildingclasstypeid,buildingclassdesc,heatingorsystemtypeid,heatingorsystemdesc,propertylandusetypeid,propertylandusedesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,1087254,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,NaN,None,2.0,Central,261,Single Family Residential,NaN,None,NaN,None
10711877,1072280,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,NaN,None,2.0,Central,261,Single Family Residential,NaN,None,NaN,None
10711888,1340933,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,NaN,None,2.0,Central,261,Single Family Residential,NaN,None,NaN,None
10711910,1878109,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,NaN,None,2.0,Central,261,Single Family Residential,NaN,None,NaN,None
10711923,2190858,NaN,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,NaN,None,2.0,Central,261,Single Family Residential,NaN,None,NaN,None

In [6]:
df.to_csv(r'~/Codeup/codeup-data-science/clustering-exercises/zillow17.csv')

In [2]:
df = pd.read_csv('zillow17.csv')

In [3]:
df.head(2)

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,buildingclasstypeid.1,buildingclassdesc,heatingorsystemtypeid.1,heatingorsystemdesc,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc
0,10711855,1087254,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN
1,10711877,1072280,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN

In [3]:
df = df.set_index("parcelid")

In [4]:
df.head(2)

,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,buildingclasstypeid.1,buildingclassdesc,heatingorsystemtypeid.1,heatingorsystemdesc,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,1087254,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN
10711877,1072280,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77380 entries, 10711855 to 167689317
Data columns (total 74 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   airconditioningtypeid         24953 non-null  float64
 2   architecturalstyletypeid      206 non-null    float64
 3   basementsqft                  50 non-null     float64
 4   bathroomcnt                   77380 non-null  float64
 5   bedroomcnt                    77380 non-null  float64
 6   buildingclasstypeid           15 non-null     float64
 7   buildingqualitytypeid         49671 non-null  float64
 8   calculatedbathnbr             76771 non-null  float64
 9   decktypeid                    614 non-null    float64
 10  finishedfloor1squarefeet      6023 non-null   float64
 11  calculatedfinishedsquarefeet  77184 non-null  float64
 12  finishedsquarefeet12          73748 non-null  float64
 13  finishedsquarefeet13          41 non-null     float64
 14  finishedsquarefeet15          3009 non-null   float64
 15  finishedsquarefeet50          6023 non-null   float64
 16  finishedsquarefeet6           386 non-null    float64
 17  fips                          77380 non-null  float64
 18  fireplacecnt                  8276 non-null   float64
 19  fullbathcnt                   76771 non-null  float64
 20  garagecarcnt                  25474 non-null  float64
 21  garagetotalsqft               25474 non-null  float64
 22  hashottuborspa                1538 non-null   float64
 23  heatingorsystemtypeid         49439 non-null  float64
 24  latitude                      77380 non-null  float64
 25  longitude                     77380 non-null  float64
 26  lotsizesquarefeet             69141 non-null  float64
 27  poolcnt                       16137 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  464 non-null    float64
 30  pooltypeid2                   1074 non-null   float64
 31  pooltypeid7                   15042 non-null  float64
 32  propertycountylandusecode     77380 non-null  object
 33  propertylandusetypeid         77380 non-null  float64
 34  propertyzoningdesc            50330 non-null  object
 35  rawcensustractandblock        77380 non-null  float64
 36  regionidcity                  75909 non-null  float64
 37  regionidcounty                77380 non-null  float64
 38  regionidneighborhood          30890 non-null  float64
 39  regionidzip                   77330 non-null  float64
 40  roomcnt                       77380 non-null  float64
 41  storytypeid                   50 non-null     float64
 42  threequarterbathnbr           10096 non-null  float64
 43  typeconstructiontypeid        222 non-null    float64
 44  unitcnt                       50562 non-null  float64
 45  yardbuildingsqft17            2388 non-null   float64
 46  yardbuildingsqft26            70 non-null     float64
 47  yearbuilt                     77117 non-null  float64
 48  numberofstories               17560 non-null  float64
 49  fireplaceflag                 172 non-null    float64
 50  structuretaxvaluedollarcnt    77268 non-null  float64
 51  taxvaluedollarcnt             77379 non-null  float64
 52  assessmentyear                77380 non-null  float64
 53  landtaxvaluedollarcnt         77378 non-null  float64
 54  taxamount                     77375 non-null  float64
 55  taxdelinquencyflag            2886 non-null   object
 56  taxdelinquencyyear            2886 non-null   float64
 57  censustractandblock           77136 non-null  float64
 58  zestimateerror                77380 non-null  float64
 59  transactiondate               77380 non-null  object
 60  airconditioningtypeid.1       24953 non-null  float64
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyletypeid.1    206 non-null    float64
 63  architecturalstyledesc        206 non-null    object
 64  buildingclasstypeid.1         15 non-null     float64
 65  buildingclassdesc             15 non-null     object
 66  heatingorsystemtypeid.1       49439 non-null  float64
 67  heatingorsystemdesc           49439 non-null  object
 68  propertylandusetypeid.1       77380 non-null  int64
 69  propertylandusedesc           77380 non-null  object
 70  storytypeid.1                 50 non-null     float64
 71  storydesc                     50 non-null     object
 72  typeconstructiontypeid.1      222 non-null    float64
 73  typeconstructiondesc          222 non-null    object
dtypes: float64(61), int64(2), object(11)
memory usage: 44.3+ MB

In [39]:
df.shape

(77380, 74)

In [45]:
df.isnull().sum()

id                              0
airconditioningtypeid       52427
architecturalstyletypeid    77174
basementsqft                77330
bathroomcnt                     0
                            ...
propertylandusedesc             0
storytypeid.1               77330
storydesc                   77330
typeconstructiontypeid.1    77158
typeconstructiondesc        77158
Length: 74, dtype: int64

In [ ]:
sns.pairplot(df, kind= "reg")

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, 
- the first column is the number of rows with missing values for that attribute 
- second column is percent of total rows that have missing values for that attribute. 

Run the function and document takeaways from this on how you want to handle missing values.

In [17]:
# % values missing in each column
percent = pd.DataFrame(df.isnull().sum()/len(df)*100)
percent

                                  0
id                         0.000000
airconditioningtypeid     67.752649
architecturalstyletypeid  99.733781
basementsqft              99.935384
bathroomcnt                0.000000
...                             ...
propertylandusedesc        0.000000
storytypeid.1             99.935384
storydesc                 99.935384
typeconstructiontypeid.1  99.713104
typeconstructiondesc      99.713104

[74 rows x 1 columns]

In [5]:
missingvals = acq.missing_values(df)

In [6]:
missingvals

                          No.MissingValues  PercentMissing
id                                       0        0.000000
airconditioningtypeid                52427       67.752649
architecturalstyletypeid             77174       99.733781
basementsqft                         77330       99.935384
bathroomcnt                              0        0.000000
...                                    ...             ...
propertylandusedesc                      0        0.000000
storytypeid.1                        77330       99.935384
storydesc                            77330       99.935384
typeconstructiontypeid.1             77158       99.713104
typeconstructiondesc                 77158       99.713104

[74 rows x 2 columns]

In [34]:
percent[percent[0] > 50]

                                    0
airconditioningtypeid       67.752649
architecturalstyletypeid    99.733781
basementsqft                99.935384
buildingclasstypeid         99.980615
decktypeid                  99.206513
finishedfloor1squarefeet    92.216335
finishedsquarefeet13        99.947015
finishedsquarefeet15        96.111398
finishedsquarefeet50        92.216335
finishedsquarefeet6         99.501163
fireplacecnt                89.304730
garagecarcnt                67.079349
garagetotalsqft             67.079349
hashottuborspa              98.012406
poolcnt                     79.145774
poolsizesum                 98.879555
pooltypeid10                99.400362
pooltypeid2                 98.612044
pooltypeid7                 80.560868
regionidneighborhood        60.080124
storytypeid                 99.935384
threequarterbathnbr         86.952701
typeconstructiontypeid      99.713104
yardbuildingsqft17          96.913931
yardbuildingsqft26          99.909537
numberofstories             77.306798
fireplaceflag               99.777720
taxdelinquencyflag          96.270354
taxdelinquencyyear          96.270354
airconditioningtypeid.1     67.752649
airconditioningdesc         67.752649
architecturalstyletypeid.1  99.733781
architecturalstyledesc      99.733781
buildingclasstypeid.1       99.980615
buildingclassdesc           99.980615
storytypeid.1               99.935384
storydesc                   99.935384
typeconstructiontypeid.1    99.713104
typeconstructiondesc        99.713104

These all have such high percentages of missing values that I don't feel I'll gain much information.

In [30]:
# Drop columns or rows using dropna() based on a threshold
len(df.index)*0.5

38690.0

In [36]:
# Drop rows using dropna() based on a threshold
# threshold: Require that many non-NA values to survive. 

df.dropna(axis = 1, thresh = 0.5 * len(df.index))

,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,heatingorsystemtypeid,...,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,zestimateerror,transactiondate,heatingorsystemtypeid.1,heatingorsystemdesc,propertylandusetypeid.1,propertylandusedesc
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,1087254,2.0,3.0,8.0,2.0,2107.0,2107.0,6037.0,2.0,2.0,...,2016.0,374484.0,7659.36,6.037113e+13,-0.007357,2017-07-07,2.0,Central,261,Single Family Residential
10711877,1072280,2.0,4.0,8.0,2.0,1882.0,1882.0,6037.0,2.0,2.0,...,2016.0,407000.0,8123.91,6.037113e+13,0.021066,2017-08-29,2.0,Central,261,Single Family Residential
10711888,1340933,2.0,4.0,8.0,2.0,1882.0,1882.0,6037.0,2.0,2.0,...,2016.0,285332.0,6673.24,6.037113e+13,0.077174,2017-04-04,2.0,Central,261,Single Family Residential
10711910,1878109,2.0,3.0,8.0,2.0,1477.0,1477.0,6037.0,2.0,2.0,...,2016.0,20063.0,1116.46,6.037113e+13,-0.041238,2017-03-17,2.0,Central,261,Single Family Residential
10711923,2190858,2.0,4.0,8.0,2.0,1918.0,1918.0,6037.0,2.0,2.0,...,2016.0,247590.0,5239.85,6.037113e+13,-0.009496,2017-03-24,2.0,Central,261,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167686999,775695,0.0,0.0,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,...,2016.0,26405.0,988.48,NaN,-0.068632,2017-02-28,NaN,NaN,261,Single Family Residential
167687739,2863262,0.0,0.0,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,...,2016.0,988597.0,77045.13,NaN,0.360020,2017-03-03,NaN,NaN,266,Condominium
167687839,1372384,0.0,0.0,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,...,2016.0,1842678.0,22045.81,NaN,0.038797,2017-05-31,NaN,NaN,261,Single Family Residential
167688532,2758757,3.0,3.0,4.0,3.0,1661.0,1661.0,6037.0,3.0,2.0,...,2016.0,147921.0,1902.75,NaN,0.006706,2017-02-03,2.0,Central,266,Condominium
167689317,2535331,0.0,0.0,NaN,NaN,NaN,NaN,6037.0,NaN,NaN,...,2016.0,118987.0,5947.25,NaN,-0.008789,2017-03-14,NaN,NaN,269,Planned Unit Development

In [37]:
df.shape

(77380, 74)

Going from 74 features down to 35 seems a bit discouraging, although the features don't seem **too** important. 

I would rather drop the columns as opposed to rows.

In [38]:
# Drop rows using dropna() based on a threshold
# threshold: only drop when # of nulls in a row is 
# above the threshold value

df.dropna(axis = 0, thresh = 0.5 * len(df.columns))

,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,buildingclasstypeid.1,buildingclassdesc,heatingorsystemtypeid.1,heatingorsystemdesc,propertylandusetypeid.1,propertylandusedesc,storytypeid.1,storydesc,typeconstructiontypeid.1,typeconstructiondesc
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,1087254,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN
10711877,1072280,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN
10711888,1340933,1.0,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN
10711910,1878109,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,NaN,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN
10711923,2190858,NaN,NaN,NaN,2.0,4.0,NaN,8.0,2.0,NaN,...,NaN,NaN,2.0,Central,261,Single Family Residential,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17300814,2655408,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,...,NaN,NaN,NaN,NaN,261,Single Family Residential,NaN,NaN,NaN,NaN
17300849,1507580,NaN,NaN,NaN,2.5,5.0,NaN,NaN,2.5,NaN,...,NaN,NaN,NaN,NaN,261,Single Family Residential,NaN,NaN,NaN,NaN
17300850,2074306,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,...,NaN,NaN,NaN,NaN,261,Single Family Residential,NaN,NaN,NaN,NaN
17300860,1224099,NaN,NaN,NaN,3.0,4.0,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,261,Single Family Residential,NaN,NaN,NaN,NaN
17300863,1821141,NaN,NaN,NaN,5.5,5.0,NaN,NaN,5.5,NaN,...,NaN,NaN,NaN,NaN,261,Single Family Residential,NaN,NaN,NaN,NaN